  body {
   height: 200vh;
  }

  h1,
  h2 {
   font-family: roboto, sans-serif;
   margin: 10px;
  }

  h1 {
   font-size: 26px;

  }

  h2 {
   font-size: 36px;
  }

  .red {
   color: red;
  }

  .space {
   text-transform: uppercase;
  }